<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Template review request</title>
  </head>

  <body>
  	<p>Hi Reviewer,</p>
    <p>
      &emsp; To View the template for review please go to URL: <%= @template_url %>
    </p>
    <p>
      &emsp; To Approve or Reject the template please go to URL: <%= @url %> and find template with id - <%= @template.id %>
    </p>
  	<p>Regards,</p>
  	<p>Builder.ai</p>
  </body>
</html>
