<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
    @media (max-width: 767px) {
      .container {
        width: 100% !important;
      }
    }

    @media (min-width: 768px) {
      .container {
        width: 60% !important;
      }
    }
  </style>
  </head>

  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #ffffff;">
    <div class="container" style="border: 3px solid black;">
      <div style="background-color: #594FF5; width: 100%; border-bottom: 3px solid black; box-sizing: border-box; padding: 10px;">
        <% if attachments["logo.png"].present? %>
          <%= image_tag attachments["logo.png"].url, style: "height: 52px;" %>
        <% end %>
      </div>
      <div style="padding: 20px; justify-content: center; align-items: center;">
       <%= yield %>
      </div>
      <div style="border-top: 3px solid black; padding: 20px; background-color: #d9d9d9;">
        <div style="text-align: center;">
          <% if attachments["linkedicon.png"].present? && attachments["instagramicon.png"].present? %>
            <a href="https://www.linkedin.com"><%= image_tag attachments["linkedicon.png"].url, style: "height: 20px; border: 2px solid black; margin: 0 5px;" %></a> <a href="https://www.instagram.com"><%= image_tag attachments["instagramicon.png"].url, style: "height: 20px; border: 2px solid black; margin: 0 5px;" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
