@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "arctic_admin/base";

@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

body.active_admin [data-aa-quill-editor] {
    width: 70% !important;
}

.inline-errors {
    text-transform: capitalize;
}

.sub_categories_container {
    // width: 200px;
}

// li.has_many_container.sub_categories fieldset {
//     display: flex;
//     justify-content: space-between;
// }

.sub_categories_container li {
    // max-width: 50% !important;
    display: inline-block;
}

fieldset.inputs.has_many_fields ol {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

li.has_many_delete.boolean.input.optional {
    width: 100px;
    margin: 0;
}

li.has_many_container.sub_categories {
    width: 100%;
}

fieldset h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#category_company_ids_input .selected-list-container {
    width: 70%
}

