@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "arctic_admin/base";

@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

body.active_admin [data-aa-quill-editor] {
    width: 70% !important;
}

.inline-errors {
    text-transform: capitalize;
}

input[name^="sub_category[features_attributes]"][name$="[name]"] {
    width: 500px !important;
}

input[name^="sub_category[default_coverages_attributes]"][name$="[title]"] {
    width: 400px !important;
}

fieldset.features_container.inputs.has_many_fields li:first-child {
    width: 50%;
}

fieldset.default_coverages_container.inputs.has_many_fields li:first-child {
    width: 50%;
}

fieldset.default_coverages_container.inputs.has_many_fields li:nth-child(2) {
    width: 20%;
}

// li.has_many_container.sub_categories fieldset {
//     display: flex;
//     justify-content: space-between;
// }

.sub_categories_container li {
    // max-width: 50% !important;
    display: inline-block;
}

fieldset.inputs.has_many_fields ol {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: stretch;
}

li.has_many_delete.boolean.input.optional {
    width: 100px;
    margin: 0;
}

li.has_many_container.sub_categories {
    width: 100%;
}

fieldset h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#category_company_ids_input .selected-list-container {
    width: 70%
}

.manage-services-prices-container {
    padding-left: 50px;
    padding-bottom: 10px;
}

#manage-input-fields fieldset ol li {
    min-width: 100%;
}
