<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To activate you account please <a href="<%= @url %>">click here</a> (link is valid for 24 hours)
    </p>
    <p>
      Once email is verified, login with your email and password <strong><%= @password %></strong>
    </p>
  </body>
</html>
