<h1>User <%= @profile_user.first_name %> Has Updated Mail With Different Domain!</h1>
<p>Updated Email Address: <%= @profile_user.email %></p>
<p>Role: <%= @profile_user.type %></p>
<p>Account Type: <%= @profile_user.account_type %></p>